html, body {
  background-color: lightblue;
  height: 100%;
}

.container {
  background-color: white;
  margin-bottom: 1em;
}

#nav ul {
  padding-left: 0;
}

#nav li {
  display: inline-block;
  padding-left: 0;
}

#nav .search {
  float: right;
}

#results {
  min-height: 400px;
}
